<!DOCTYPE html>
<html lang="en">

<head>
  <title>Blog Pepper</title>
  <link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <link href="../public/css/application.css" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="container">
    <div class="header">
      <nav class="clearfix">
        <h3 class="text-muted nav pull-left">
          <a class="homepage-link" href="/">Blog Pepper</a>
        </h3>
        <ul class="nav nav-pills pull-right">
          {% if not 'logged_in_userid' in session %}
            <li>
              <a href="/signIn">Sign In</a>
            </li>
          {% else %}
            <li>
              <a href="/userPage/{{session['logged_in_userid']}}">{{session['logged_in_username']}}</a>
            </li>
            <li>
              <a href="/newArticle" class="btn btn-primary btn-xs">new blog</a>
            </li>
            <li>
              <a role="presentation" href="/signOut">Sign Out</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      
    </div>

    {% block body %}
    {% endblock %}

    <footer class="footer">
      <p>&copy; Company 2016</p>
    </footer>
  </div>
</body>

</html>