{% extends "layouts/application.html" %}
{% block body %}

<h1>{{ username }}</h1>

<div class="bio-container">
  {% if about_me != None %}
    <div>{{ about_me }}</div>
  {% else %}
    else: {{ about_me }}
    <button class="show-modal-button">Edit</button>
  {% endif %}
</div>

<ul class="post-list">
  {% for post in posts %}
    <li>
      {{ post.body }}
    </li>
  {% endfor %}
</ul>

<div class="mybio modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bio</h4>
      </div>
      <div class="modal-body">
<!--				<%= form_for current_user, html: { id: 'edit-bio-form' } do |f| %>-->
<!--					<% if @user.errors.any? %>-->
<!--						<div id="error-explanation">-->
<!--							<h2>-->
<!--								<%= pluralize(@user.errors.count, "error") %> prohibited from being saved:-->
<!--							</h2>-->
<!--							<ul>-->
<!--								<% @user.errors.full_messages.each do |msg| %>-->
<!--									<li><%= msg %></li>-->
<!--								<% end %>-->
<!--							</ul>-->
<!--						</div>-->
<!--					<% end %>-->
<!--					<p>-->
<!--						<%= f.text_area :bio, class: 'bio-textbox' %>-->
<!--					</p>-->
<!--					<p>-->
<!--						<%= f.submit "Update Bio", class: 'btn btn-primary center-block' %>-->
<!--					</p>-->
<!--				<% end %>-->
      </div>
    </div>
  </div>
</div>
{% endblock %}