{% extends "layouts/application.html" %}
{% block body %}

<h1>{{ user.nickname }}</h1>
{% if user.nickname == session['logged_in_username'] %}
<div>
  <a href="/users/account">
    <button>account manage</button>
  </a>
<div>
{% endif %}
<img src="{{ user.avatar(128) }}">

{% if user.last_seen != None %}
  <div>last seen: {{ user.last_seen }}</div>
{% endif %}

<div class="bio-container">
  {% if (user.about_me != None) and (user.about_me != '') %}
    <div class="about-me">{{ user.about_me }}</div>
    {% if user.nickname == session['logged_in_username'] %}
      <button class="show-modal-button">Edit</button>
    {% endif %}
  {% else %}
    <div class="about-me"></div>
    {% if user.nickname == session['logged_in_username'] %}
      <button class="show-modal-button">Add</button>
    {% endif %}
  {% endif %}
</div>

<div class="post-list">
  {% if user.nickname == session['logged_in_username'] %}
    {% for post in posts %}
      <div>
        <span>
          {{ post.body }}
        </span>
        <button class="delete-post-button" id="{{ post.id }}">
          X
        </button>
      </div>
    {% endfor %}
  {% else %}
    {% for post in posts %}
      <div>
        <span>
          {{ post.body }}
        </span>
      </div>
    {% endfor %}
  {% endif %}
</div>

<div class="mybio modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bio</h4>
      </div>
      <div class="modal-body">
        <div class="center-block">
          <div>{{ bio_form.bio(class="input-content bio-content form-control", placeholder="Introduce yourself here") }}</div>
          <button class="btn btn-sm btn-primary post-button edit-bio-button disabled center-block" disabled>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}