{% extends "layouts/application.html" %}

{% block head %}
  <link href="../public/css/articles.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <div>
    <ul class="errorList">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    <form method="post" action="/newArticle">
      <label for="inputArticleTitle" class="sr-only">Article Title</label>
      <input type="text" name="inputArticleTitle" id="inputArticleTitle" class="form-control" placeholder="Title" value="{{title}}" required autofocus>
      <label for="inputArticleContent" class="sr-only">Article Context</label>
      <input type="text" name="inputArticleContent" id="inputArticleContent" class="form-control" placeholder="content" value="{{content}}" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">post</button>
    </form>
  </div>
{% endblock %}